<!--
	创建者：{{user}}
	该文件用于：
	创建时间：{{ date }}
-->
{{#if template}}
<template>
	<div class="{{ name }}_view">

	</div>	  
</template>
{{/if}}

{{#if script}}
<script>
import {{ properCase name }} from './index.js';
export default {{ properCase name }};
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped>
@import "./index.scss";

</style>
{{/if}}
